.tablas {
    
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


table { 
 margin: auto;
  border-collapse: collapse;
  width: 60%;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: center;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background-color: #4caf50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

header {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  margin: 11px;
  font-weight: bold;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header li {
  margin-right: 10px;
}

header a {
  color: #fff;
  text-decoration: none;
}

#formulario {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3px;
  justify-items: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 500px;
  margin-right: 500px;
}

#miBoton {
  grid-column: 1/3;
  margin-top: 10px;
}

@media (max-width: 767px) {
  #formulario {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3px;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }
  
  #miBoton {
    margin-top: 10px;
  }
}

label {
  font-weight: bold;
  margin: 5px;
}
input {
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 50px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #3e8e41;
}


#CLtables{
  display: flex;
}

#inputsTable{
  width: 90%;
  margin-left: 5%;
  margin-right: -50%;
}

#rangeOutputs{
  width: 10%;
  margin-left: 50%;
  margin-right: 30%;
}

#OutputTable{
  margin-top: 20px;
}

#OutputTable{
  margin-left: 200px;

  margin-right: 200px;
}